<div class="container">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #goalForm='ngForm'>
        <div class="form-group">
  
            <label for="author">Author</label>
        
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.Author" Author="author"#author='ngModel' required>
        
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Name is required</p>
        </div>
        </div>
        <div class="form-group">
  
            <label for="genre">Genre</label>
            <input type="text" required class="form-control" id="genre" [(ngModel)]="newQuote.genre" genre="genre" #genre='ngModel' required>
  
         
    </div>
        <div class="form-group">
  
            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="4"  [(ngModel)]="newQuote.name" quote="name" #name ="ngModel"  required></textarea>
  

        </div>
        <div class="form-group">
            <label for="date">Completed on:</label>
            <input type='date' id="date" [(ngModel)]="newQuote.completeDate" date="date" #date ="ngModel" required>
  
        </div>
        
        <button type="submit" class="btn btn-success">Add quote</button>

    </form>
  </div>
